
<section class="feature_part">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-xl-3 align-self-center">
              <div class="single_feature_text ">
                  <h2>Awesome <br> Feature</h2>
                  <p>Explore our standout features designed to enhance your learning journey.
                    From flexible courses to personalized support, we've got you covered.</p>
                  <a href="#" class="btn_1">Read More</a>
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part">
                      <span class="single_feature_icon"><i class="ti-layers"></i></span>
                      <h4>Career Insights</h4>
                      <p>Gain career insights from qualified trainers, leveraging their networks for professional development tips beyond the classroom.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part">
                      <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                      <h4>Global Community</h4>
                      <p>Become part of a vibrant global community of learners. Connect with fellow students, share insights,
                         and build a network that extends beyond the classroom.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-xl-3">
              <div class="single_feature">
                  <div class="single_feature_part single_feature_part_2">
                      <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                      <h4>Personalized Support</h4>
                      <p>Get personalized support from our dedicated team, offering assistance with course content and career guidance to ensure your success.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
