/* Specific styles for .content-start
.content-start::-webkit-scrollbar {
  width: 12px !important;
}

.content-start::-webkit-scrollbar-thumb {
  background-color: red !important;
}

.content-start::-webkit-scrollbar-track {
  background-color: rebeccapurple !important;
} */

.content-start {
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #2D2C4D;
  scrollbar-highlight-color:#7D7E94;
  scrollbar-3dlight-color: #7D7E94;
  scrollbar-darkshadow-color: #2D2C4D;
  scrollbar-track-color: #7D7E94;
  scrollbar-arrow-color: #C1C1D1;
}
