.demo-table {
  width: 100%;
}

* {
  font-size: 13px;

}

.line {
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}


.demo-row-is-clicked {
  font-weight: bold;
}
