@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800|Poppins:300,400,500,600,700,800|Roboto:300,400,500");

body::-webkit-scrollbar {
  width: 8px !important;
}

body::-webkit-scrollbar-thumb {
  background-color: #017EFA !important;
}

body::-webkit-scrollbar-track {
  background-color: #51CBFF !important;
}
