<!--Topbar -->
<div class="topbar transition">

  <div class="menu">
    <ul>
      <li class="nav-item dropdown">
        <a class="nav-link" (click)="toggleProfileDropdown()" role="button" aria-expanded="false">
          <img src="assets/img/avatar-1.png" alt="">
        </a>

        <ul class="dropdown-menu" [ngClass]="{'show': isProfileDropdownOpen}" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">
            <i class="fa fa-user size-icon-1"></i>
            <span>My Profile</span>
          </a>

          <a class="dropdown-item">
            <i class="fa fa-cog size-icon-1"></i>
            <span>Settings</span>
          </a>

          <hr class="dropdown-divider">

          <a class="dropdown-item">
            <i class="fa fa-sign-out-alt  size-icon-1"></i>
            <span>My Profile</span>
          </a>
        </ul>

      </li>
    </ul>
  </div>
</div>

<!--Sidebar-->
<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
  <div class="sidebar-content">
    <div id="sidebar">

      <!-- Logo -->
      <div class="logo">
        <h2 class="px-3 mt-2 mb-0">
          <img src="assets/img/logo2.png">
          Training Center
        </h2>
      </div>

      <ul class="side-menu">
        <li>
          <a routerLink="/dashboard" class="active">
            <i class='bx bxs-dashboard icon'></i> Dashboard
          </a>
        </li>


        <li>
          <a routerLink="/main" class="active">
            <i class='bx bxs-dashboard icon'></i>
            Test
          </a>
        </li>


        <!-- Courses Divider -->
        <li class="divider" data-text="STARTER">Courses</li>
        <!-- Courses Dropdown -->
        <li>
          <a (click)="toggleCoursesDropdown()">
            <i class='bx bx-columns icon'></i>
            Courses
            <i class='bx bx-chevron-right icon-right'></i>
          </a>
          <ul class="side-dropdown" [ngClass]="{'show': isCoursesDropdownOpen}">
            <li><a routerLink="/">Course Details</a></li>
            <li><a routerLink="/">New Course</a></li>
          </ul>
        </li>

        <!-- Trainers Divider -->
        <li class="divider" data-text="STARTER">Trainers</li>
        <!-- Trainers Dropdown -->
        <li>
          <a (click)="toggleTrainersDropdown()">
            <i class='bx bx-columns icon'></i>
            Trainers
            <i class='bx bx-chevron-right icon-right'></i>
          </a>
          
          <ul class="side-dropdown" [ngClass]="{'show': isTrainersDropdownOpen}">
            <li>
              <a routerLink="/trainers/all" class="d-inline  ">
                <i class='bx bx-table'></i>
                Show Trainers
            </a>
          </li>
            <li>
              <a routerLink="/trainers" class="d-inline">
                <i class='bx bxs-user-plus'></i>
                <span>Add trainer</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- Participants Divider -->
        <li class="divider" data-text="STARTER">Participants</li>
        <!-- Participants Dropdown -->
        <li>
          <a (click)="toggleParticipantsDropdown()">
            <i class='bx bx-columns icon'></i>
            Participants
            <i class='bx bx-chevron-right icon-right'></i>
          </a>
          <ul class="side-dropdown" [ngClass]="{'show': isParticipantsDropdownOpen}">
            <li><a routerLink="/">Default Layout</a></li>
            <li><a routerLink="/">Top Navigation</a></li>
          </ul>
        </li>

        <!-- Assistants Divider -->
        <li class="divider" data-text="STARTER">Assistants</li>
        <!-- Assistants Dropdown -->
        <li>
          <a (click)="toggleAssistantsDropdown()">
            <i class='bx bx-columns icon'></i>
            Assistants
            <i class='bx bx-chevron-right icon-right'></i>
          </a>
          <ul class="side-dropdown" [ngClass]="{'show': isAssistantsDropdownOpen}">
            <li><a routerLink="/assistants">Add Assiastant</a></li>
            <li><a routerLink="/">Top Navigation</a></li>
          </ul>
        </li>


        <!-- Companies Divider -->
        <li class="divider" data-text="STARTER">Companies</li>
        <!-- Companies Dropdown -->
        <li>
          <a (click)="toggleCompaniesDropdown()">
            <i class='bx bx-columns icon'></i>
            Companies
            <i class='bx bx-chevron-right icon-right'></i>
          </a>
          <ul class="side-dropdown" [ngClass]="{'show': isCompaniesDropdownOpen}">
            <li><a routerLink="/companies">Add Company</a></li>
            <li><a routerLink="/">Top Navigation</a></li>
          </ul>
        </li>


      </ul>

    </div>
  </div>
</div><!-- End Sidebar-->


<div class="sidebar-overlay"></div>
